[package]
name = "snm"
version = "0.1.0"
authors = ["numtostr <vikasraj1911@gmail.com>"]
edition = "2018"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
clap = "2.33.3"
serde = { version = "1.0.118", features = ["derive"] }
ureq = { version = "1.5.4", features = ["json", "charset"] }
